*.swp
*.gem
*.rbc
~*
.~*
.bundle
.config
.idea
.idea/*
*/.idea
*/.idea/*
**/.idea
**/.idea/*
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
asciidoc/images/icons/*
log/*

# YARD artifacts
.yardoc
_yardoc
doc/

# Emacs temporary files
*#
.#*

# Build artifact
cfme-rhconsulting-scripts
